<form action="{{ path('newsletter') }}" method="post" id="newsletter_form">
    <input type="email" name="appbundle_newsletter[email]"/><!-- 
     --><input type="submit" value="Envoyer" name="Envoyer"></input>
</form>

